*{
    padding: 0;
    margin: 0;
}

.IndexPageMain{
    background-color: #edf2fb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
}

.cardsDiv{
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}