*{
    padding: 0;
    margin: 0;
}

.Paragraph{
    padding: 2rem 0;
    text-align: justify;
    width: 69%;
    margin-bottom: 2rem;
}

.ParagraphImage{
    border-radius: 120px;
    height: 13rem;
    width: 13rem;
    position:absolute;
    z-index: -100;
    top: 3rem;
    left: -2rem;
}